<!-- Footer-->
<footer class="py-5 bg-dark footer">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; HepsiŞurada.com 2023</p>
  </div>
</footer>
<!-- Bootstrap core JS-->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
></script>

<style scoped>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: white;
    text-align: center;
    height: 5px;
  }
</style>