---
export interface Props{
    baslik?: string;
    aciklama?: string;
    fiyat?: number;
    resim?: string;
    stokKodu?: string;
    miktar?: number;
}
// random stok kodu üret 3 haneli
const randomstokKodu = Math.floor(Math.random() * 1000)
const randomFiyat = Math.floor(Math.random() * 1000)
const randomIndirimliFiyat = randomFiyat - Math.floor(Math.random() * 100)
const {baslik="Ürün", aciklama="Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?", fiyat=randomFiyat, resim="https://dummyimage.com/600x700/dee2e6/6c757d.jpg", stokKodu=randomstokKodu, miktar} = Astro.props

---
<!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src={resim} alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">Stok Kodu: AAA-{stokKodu}</div>
                        <h1 class="display-5 fw-bolder">{baslik}</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">₺{fiyat+100}</span>
                            <span>₺{(randomIndirimliFiyat+100) }</span>
                        </div>
                        <p class="lead">{aciklama}</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Sepete Ekle
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>